@tailwind base;
@tailwind components;
@tailwind utilities;

.font-nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-600 {
  font-weight: 600;
  font-style: normal;
}

.font-weight-800 {
  font-weight: 800;
}

/* 
- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)

- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

.light-bg {
  background-color: hsl(0deg 0% 98.04%);
}
.light-light-bg {
  background-color: hsl(0deg 0% 100%);
}
.light-text {
  color: hsl(200, 15%, 8%);
}

.dark-bg {
  /* background-color: hsl(209, 23%, 22%); */
  background-color: hsl(204.55deg 25.58% 16.86%);
}

.dark-light-bg {
  /* background-color: hsl(207, 26%, 17%); */
  background-color: hsl(210deg 21.82% 21.57%);
}

.dark-text {
  color: hsl(0, 0%, 100%);
}

.light-card-bg {
  background-color: rgb(255 255 255);
}

.country-title {
  font-size: 40px;
}
.border-width {
  border-left-width: 0px !important;
}
